@using MyMatrimony.CustomHtmlHelpers
@model MyMatrimony.Models.tblMember

<div class="card mb-3 border-secondary">
    <div class="card-header text-white bg-secondary">
        <span class="lead text-capitalize text-truncate">
            @Html.DisplayFor(model => model.Name)
        </span>
        <small class="float-right text-truncate text-dark">@Html.DisplayNameFor(model => model.LastOnline): @Html.DisplayFor(model => model.LastOnline)</small>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col d-md-none">
                @Html.MyImage("~/Images/BridesImages/164100351-bride-wallpapers.jpg", "290", "250", "card-img img-fluid img-thumbnail", "max-height:400px")
                <div class="card-img-overlay text-right mx-3">
                    <span class="badge badge-pill badge-warning">14</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col d-none d-md-block col-4">
                @Html.MyImage("~/Images/BridesImages/164100351-bride-wallpapers.jpg", "290", "250", "card-img img-fluid img-thumbnail", "max-height:400px")
                <div class="card-img-overlay text-right mx-3">
                    <span class="badge badge-pill badge-warning">12</span>
                </div>
            </div>
            <div class="col-md-8 text-capitalize text-truncate">
                <table class="table table-sm">
                    <tr>
                        <td>@Html.DisplayFor(model => model.DateOfBirth), @Html.DisplayFor(model => model.tblHeightMaster.Height)</td>
                        <td>@Html.DisplayFor(model => model.Education)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.tblCityMaster.CityName)</td>
                        <td>@Html.DisplayFor(model => model.Occupation)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.tblReligionMaster.ReligionName), @Html.DisplayFor(model => model.tblCasteMaster.CasteName)</td>
                        <td>@Html.DisplayFor(model => model.tblAnnualIncomeMaster.AnnualIncome)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.tblMotherTongueMaster.MotherTongue)</td>
                        <td>@Html.DisplayFor(model => model.tblDietMaster.Diet)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.tblBodyTypeMaster.BodyType), @Html.DisplayFor(model => model.BodyWeight) Kgs</td>
                        <td>@Html.DisplayFor(model => model.tblSkinToneMaster.SkinTone)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="card-footer text-right">
        <div>
            @using (Html.BeginForm("Details", "Members", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;" }))
            {
                <button type="submit" class="btn btn-outline-info btn-sm" title="View Profile">
                    <span class="fas fa-address-card" aria-hidden="true"></span> <span class="d-none d-md-inline">View Profile &raquo;</span>
                </button>
            }

            <button type="button" class="btn btn-outline-danger btn-sm" value="Shortlist" name="alertShortlist_@Model.Id">
                <span class="fas fa-star" aria-hidden="true"></span> <span data-myvalue="Shortlist" class="d-none d-md-inline">Shortlist</span>
            </button>
            <a class="btn btn-outline-success btn-sm" data-html="true" tabindex="0" data-placement="auto" role="button" data-toggle="popover" data-trigger="focus" title="Chat with <b>@Model.Name</b>" data-content="Only premium members can initiate the chat. Send interest to <b>@Model.Name</b>, if they accept then also you can initiate the chat.">
                <span class="fas fa-comments" aria-hidden="true"></span> <span class="d-none d-md-inline">Chat</span>
            </a>
            <span data-toggle="tooltip" data-html="true" title="<b class=' text-capitalize'>@Model.Name</b> <em>will get notified that <u>you</u> have viewed their contact details.</em> ">
                <button type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#viewContactModal_@Model.Id">
                    <span class="fas fa-phone" aria-hidden="true"></span> <span class="d-none d-md-inline">View Contact</span>
                </button>
            </span>
            <button type="button" class="btn btn-outline-primary btn-sm">
                <span class="fas fa-check" aria-hidden="true"></span> <span class="d-none d-md-inline">Send Interest</span>
            </button>
        </div>
    </div>
</div>

@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

<!-- Alert - Shortlist -->
<div class="row justify-content-center d-none">
    <div id="alertShortlist_@Model.Id" class="alert alert-danger alert-dismissible fade show text-center" role="alert" style="position:fixed; top:70%; width:70%; z-index:999;">
        <h3>Shortlist</h3><hr />
        <strong class='text-capitalize'>@Model.Name</strong> successfully <strong id="shortlistText">added to</strong> your shortlist.
        @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>*@
    </div>
</div>

<!-- Modal - View Contact -->
<div class="modal fade" id="viewContactModal_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Contact Details - <b class='text-capitalize text-truncate'>@Model.Name</b>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.MobileNo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MobileNo)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="alert('Contact details sent to you throgh SMS.');">Get through SMS</button>
            </div>
        </div>
    </div>
</div>
