@using MyMatrimony.CustomHtmlHelpers
@model MyMatrimony.Models.tblMember

<script type="text/javascript">
    $('#btnChatPopever').popover({
        trigger: 'focus'
    })
</script>

<div>
    <h4 class="badge">@Model.Id</h4>

    <div class="row">
        <div class="well">
            <table>
                <tr>
                    <td class="visible-xs hidden-sm">
                        <a href="#" class="thumbnail">
                            @*@Html.MyImage("~/Images/BridesImages/164100351-bride-wallpapers.jpg", "290", "250")*@
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="hidden-xs col-sm-4 col-md-4 col-lg-5">
                        <a href="#" class="thumbnail">
                            @*@Html.MyImage("~/Images/BridesImages/164100351-bride-wallpapers.jpg", "290", "250")*@
                        </a>
                    </td>
                    <td class="col-sm-8 col-md-8 col-lg-7">
                        <p class="lead" style="margin-top:0px">
                            @Html.DisplayFor(model => model.Name)
                        </p>
                        <table class="table table-striped table-hover" style="background-color:transparent">
                            <tr>
                                <td>@Html.DisplayFor(model => model.DateOfBirth), @Html.DisplayFor(model => model.tblHeightMaster.Height)</td>
                                <td>@Html.DisplayFor(model => model.Education)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.tblCityMaster.CityName)</td>
                                <td>@Html.DisplayFor(model => model.Occupation)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.tblReligionMaster.ReligionName), @Html.DisplayFor(model => model.tblCasteMaster.CasteName)</td>
                                <td>@Html.DisplayFor(model => model.tblAnnualIncomeMaster.AnnualIncome)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.tblMotherTongueMaster.MotherTongue)</td>
                                <td>@Html.DisplayFor(model => model.tblDietMaster.Diet)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.tblBodyTypeMaster.BodyType), @Html.DisplayFor(model => model.BodyWeight) Kgs</td>
                                <td>@Html.DisplayFor(model => model.tblSkinToneMaster.SkinTone)</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="right" colspan="2">

                        @using (Html.BeginForm("Details", "Members", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;" }))
                        {
                            <button type="submit" class="btn btn-info btn-outline">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> View Profile
                            </button>
                        }

                        <button type="button" class="btn btn-danger btn-outline">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Shortlist
                        </button>
                        <a class="btn btn-success btn-outline" id="btnChatPopever" data-html="true" tabindex="0" data-placement="auto" role="button" data-toggle="popover" data-trigger="focus" title="Chat with <b>@Model.Name</b>" data-content="Only premium members can initiate the chat. Send interest <b>@Model.Name</b>, if they accept then also you can initiate the chat.">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Chat
                        </a>
                        <button type="button" class="btn btn-warning btn-outline" data-toggle="modal" data-target="#viewContactModal">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> View Contact
                        </button>
                        <button type="button" class="btn btn-primary btn-outline">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Send Interest
                        </button>

                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>

<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>

<p class="lead">
    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
</p>

<!-- Modal - View Contact -->
<div class="modal fade" id="viewContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Contact Details - <b>@Model.Name</b>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
