@using MyMatrimony.CustomHtmlHelpers
@model MyMatrimony.Models.tblMember

<script type="text/javascript">
    $('#btnChatPopever').popover({
        trigger: 'focus'
    })
</script>

<div>
    <h4 class="badge">@Model.Id</h4>

    <div class="row">
        <div class="d-sm-none">
            @Html.MyImage("~/Images/BridesImages/164100351-bride-wallpapers.jpg", "290", "250", "img-fluid img-thumbnail", "")
        </div>
    </div>

    <div class="row">
        <div class="d-none d-sm-block col-4">
            @Html.MyImage("~/Images/BridesImages/164100351-bride-wallpapers.jpg", "290", "250", "img-fluid img-thumbnail", "")
        </div>
        <div class="col-sm-8">
            <span class="d-block lead text-capitalize text-truncate" style="font-size:35px">
                @Html.DisplayFor(model => model.Name)
            </span>
            <small class="float-right text-muted text-truncate">Last Online: 24-05-2018 11:06 PM</small>
            <table class="table table-sm table-striped table-hover">
                <tr>
                    <td>@Html.DisplayFor(model => model.DateOfBirth), @Html.DisplayFor(model => model.tblHeightMaster.Height)</td>
                    <td>@Html.DisplayFor(model => model.Education)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.tblCityMaster.CityName)</td>
                    <td>@Html.DisplayFor(model => model.Occupation)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.tblReligionMaster.ReligionName), @Html.DisplayFor(model => model.tblCasteMaster.CasteName)</td>
                    <td>@Html.DisplayFor(model => model.tblAnnualIncomeMaster.AnnualIncome)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.tblMotherTongueMaster.MotherTongue)</td>
                    <td>@Html.DisplayFor(model => model.tblDietMaster.Diet)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.tblBodyTypeMaster.BodyType), @Html.DisplayFor(model => model.BodyWeight) Kgs</td>
                    <td>@Html.DisplayFor(model => model.tblSkinToneMaster.SkinTone)</td>
                </tr>
            </table>
        </div>

    </div>

</div>

<!-- Modal - View Contact -->
@*<div class="modal fade" id="viewContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        Contact Details - <b>@Model.Name</b>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@

@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
